body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100vh;
  background-color: black;
}

#title {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  background-color: black;
  margin: 0;
  padding: 10px;
  border: 1px solid white;
}

#tooltip {
  font-size: 0.6em;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  visibility: hidden;

  display: inline-block;
    padding: 5px;
    /* 余白 */
    white-space: nowrap;
    /* テキストを折り返さない */
    font-size: 0.8rem;
    /* フォントサイズ */
    line-height: 1.3;
    /* 行間 */
    background: #333;
    /* 背景色 */
    color: #fff;
    /* 文字色 */
    border-radius: 3px;
    /* 角丸 */
    user-select: none;
}

.attribution {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  font: 12px Helvetica Neue, Arial, Helvetica, sans-serif;
  line-height: 12px;
  padding: 4px;
  z-index: 9;
}